* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-duplicate {
    /* background-color: rgb(217, 217, 217); */
    width: 45%;
    /* margin: 100px auto; */
    position: relative;
    top: 184px;
    left: 270px;
    /* margin-top: 100px; */
    margin-bottom: 0;
    padding: 20px;
    display: flex;
    /* justify-content: space-around; */
}


/* Navbar */

#nav-bar {
    background-color: #d55457;
    height: 50px;
    display: flex;
    justify-content: flex-start;
}

#navbar-left {
    padding-right: 700px;
}

#navbar-left img {
    position: relative;
    top: -5px;
    width: 140px;
    padding-left: 70px;
    padding-top: 12px;
    color: white;
    font-weight: 600;
}

#navbar-right {
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;
}

#navbar-right a {
    /* padding-right: 90px; */
    color: white;
    position: relative;
    bottom: 13px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#profile {
    right: -320px;
    filter: invert(100%);
    position: relative;
    top: -15px;
    height: 33px;
    width: 33px;
}

#profile:hover {
    cursor: pointer;
    filter: none;
}

/* Source */

#from {
    /* padding: 20px; */
}

#from label {
    /* font-size: 600;
    padding-bottom: 5px; */
}

#from input {
    /* border: rgb(217,217,217) block; */
    width: 210px;
    outline: none;
    padding: 18px;
    height: 10px;
    font-size: 20px;
    position: relative;
    right: -25px;
}


/* Switching */

#switching button {
    border-radius: 50%;
    /* padding: 10px; */
    border: none;
    outline: none;
    margin-top: 25px;
    background-color: #d54f5f;
    color: white;
    cursor: pointer;
    position: relative;
    left: 12px;
    /* z-index: 1; */
    height: 25px;
    width: 25px;
}

#icons {
    font-size: 17px;
}


/* Destination */

#to {
    /* padding: 20px; */
}

#to label {
    /* font-size: 600;
    padding-bottom: 5px; */
}

#to input {
    /* border: rgb(217,217,217) block; */
    outline: none;
    width: 210px;
    height: 10px;
    padding: 18px;
    font-size: 20px;
}


/* Date Selection */

#traveling-date {
    /* padding: 18px; */
}

#traveling-date label {
    /* font-size: 600;
    padding-bottom: 5px; */
}

#traveling-date input {
    /* border: rgb(217,217,217) block; */
    height: 40px;
    width: 165px;
    outline: none;
    padding: 18px 8px;
    font-size: 20px;
}


/* Search Button */

.search-bus button {
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    outline: none;
    margin-top: 34px;
    background-color: #d74f57;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 130px;
    bottom: 16px;
    right: 0px;
    position: relative;
    /* border-radius: 20%; */
    /* top: 0px; */
}

.search-bus button:hover {
    background-color: #e9555d;
}

#Reset-Buses {
    padding: 4px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    outline: none;
    margin-top: 34px;
    background-color: lightblue;
    color: black;
    cursor: pointer;
    height: 40px;
    width: 50px;
    bottom: 16px;
    right: 0px;
    position: relative;
}

#Reset-Buses:hover {
    background-color: lightskyblue;
}

/* image */

#image {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#image img {
    height: 100px;
}


/* details */

#details {
    display: flex;
    justify-content: space-evenly;
    /* background-color: #d55457; */
    background-color: white;
    height: 500px;
    position: relative;
    top: 215px;
}

#heading {
    text-align: center;
    margin-top: 180px;
}

#heading h1 {
    color: #d55457;
    /* color: white; */
    font-size: 100px;
    position: relative;
    top: -134px;
    left: 26px;
}

#png {
    color: white;
}

#png img {
    /* padding-top: 150px;
    padding-right: 80px; */
    padding: 55px 10px;
    height: 400px;
    color: transparent;
}


/* bus card */

#bus-details {
    margin-top: 336px;
    padding-top: 30px;
    background-color: #d54f5f;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sortby {
    margin-bottom: 30px;
    width: 1000px;
    height: 80px;
    background-color: lightgray;
    display: flex;
}

#sort-text {
    margin-left: 30px;
    margin-right: 40px;
    padding-top: 25px;
}

#details-of-sorting {
    padding-top: 25px;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

#schedule {
    background-color: #d54f5f;
    height: 70%;
    padding: 7px;
    color: white;
    cursor: pointer;
}

#schedule:hover {
    background-color: #e9555d;
}

#bus-list {
    display: flex;
    justify-content: space-evenly;
    /* padding-bottom: 10px; */
    cursor: pointer;
    margin-bottom: 10px;
}

#bus-list:hover {
    /* background-color: aqua; */
    background-color: whitesmoke;
    border: 2px solid black;
}

#bus-list-schedule {
    width: 100%;
    height: auto;
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: white;
}

#bus-layer {
    width: 90%;
    background-color: #d54f5f;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    padding-top: 25px;
    margin-bottom: 10px;
}


/* Bus Cards */

#bus-cards {
    margin-top: 335px;
    background-color: #d54f5f;
    height: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#bus-card-list {
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bus-card-layer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#bus-seat-select {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 40px;
    /* padding-top: 200px; */
    background-color: white;
    height: 200px;
}

#top {
    width: 100%;
    height: 60%;
    margin: 2px;
    display: flex;
    justify-content: space-evenly;
    padding-right: 100px;
    /* background-color: aquamarine; */
}

#mainTop {
    /* background-color: rgb(22, 228, 15); */
    width: 30%;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top1 {
    background-color: rgb(219, 219, 219);
    border: 2px solid black;
    border-radius: 3px;
    margin: 4px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
}

.top1:hover {
    background-color: palegoldenrod;
}


/* #top1:active {
    background-color: yellow;
} */

.top2 {
    background-color: rgb(219, 219, 219);
    border: 2px solid black;
    border-radius: 3px;
    margin: 4px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
}

.top2:hover {
    background-color: palegoldenrod;
}

#bottom {
    width: 100%;
    height: 60%;
    margin: 2px;
    display: flex;
    justify-content: space-evenly;
    padding-right: 100px;
    /* background-color: aquamarine; */
}

#mainBottom {
    /* background-color: rgb(22, 228, 15); */
    width: 30%;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bottom1 {
    background-color: rgb(219, 219, 219);
    border: 2px solid black;
    border-radius: 3px;
    padding-right: 20px;
    margin: 4px;
    width: 100%;
    height: 27px;
    cursor: pointer;
    text-align: center;

}

.bottom1:hover {
    background-color: palegoldenrod;
}

#book-ticket {
    background-color: rgb(76, 255, 76);
    margin-left: auto;
    margin-top: 50px;
    cursor: pointer;
}

#book-ticket:hover {
    background-color: bisque;
}

#book-ticket button {
    background-color: rgb(76, 255, 76);
    width: 100%;
    border: none;
    padding: 20px 60px;
    font-size: 20px;
    font-weight: 700;
    /* padding: 20px; */
}

#book-ticket button:hover {
    background-color: bisque;
}

#payment button {
    background-color: blue;
}

#payment button:hover {
    background-color: bisque;
}

#cnfBooking {
    position: relative;
    top: 385px;
    left: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 2px 10px #ccc;
    border-radius: 10px;
}

#forBG {
    background-image: url("https://st.redbus.in/Images/INDOFFER/FESTIVE200/Hero01.png");
    background-position-x: center;
    background-repeat-y: no-repeat;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    height: 450px;

}

#home {
    top: -10px;
    right: -210px;
}

#help {
    top: -10px;
    right: -265px;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 250px;
    /* overflow: hidden; */
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;

    /* for testing  */

    right: -144px;
    position: absolute;
    top: -580px;
}


.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;

}

.sub-menu-link p {
    color: black;
    width: 100%;
    /* background-color: #e5e5e5; */
}

.sub-menu-link span {
    color: black;
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

.signin-login-form {
    background: lightblue;
    border: 5px solid white;
    border-radius: 7px;
    padding: 0px;
    position: relative;
    display: flex;
    top: -110px;
    left: 300px;
    height: 510px;
    width: 715px;
}

#close-btn {
    /* height: 15px; */
    /* float: right; */
    /* width: 15px; */
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    left: 680px;
    cursor: pointer;
}

#main {
    display: flex;
    flex-direction: column;
}

#child1 {
    margin: 10px;
}

#child2 {
    margin: 10px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
    display: block;
}

#show-user-name {
    position: relative;
    color: white;
    left: 329px;
    top: -9px;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}